@media only screen and (max-width: 575px) {
    .icon-1{
        margin:10px !important;
    }

    /* Login */

    .login-form {
        width: auto !important;
        margin: 15vh 0px !important;
        border: none !important;
    }

    .textfield-login {
        padding: 20px;
        border-right: none !important;
        border-left: none !important;
    }

    /* Login End */
}
@media only screen and (max-width: 767px) {
    .my-toggler-btn {
        display: block !important;
        padding: 0;
    }

    .navbar-toggler-icon {
        height: 25px;
    }

    .navbar-nav li {
        justify-content: start !important;
    }

    .navbar-nav.nav1 li {
        justify-content: center !important;
    }

    .my-logo {
        display: none;
    }

    .FF_name {
        display: flex !important;
    }

    .a-navbar{
        text-align: start !important;
    }

    /* Food */

    #category-nav{
        top: 36px !important;
    }
    /* Footer */

    .ftLogo {
        display: flex !important;
        align-items: center !important;
    }

    .social-links {
        align-items: end !important;
    }

    .social-links h2 {
        padding-right: 50px;
    }

    .footer_content {
        padding-top: 50px;
    }

    /* My Account */

    .my-account-form{
        padding: 22px 0 0 0 !important;
    }

    .myaccount-section{
        padding:0px!important;
    }

    .sidebar-myaccount {
        border-radius: 0px !important;
        background-image: linear-gradient(-180deg, #eaee52 0%, #ec8f2d 100%) !important;
    }

    .textfield-login{
        padding: 25px !important
    }

    .textfield-myaccount {
        margin-left: 0px !important;
        border-radius: 20px
    }

    .my-nav-my-account a {
        padding: 0px !important;
    }

    /* My Account End */

}

@media only screen and (min-width: 768px) {

    .sidebar-myaccount {
        min-height: 446px !important;
    }

}

.container{
    max-width:none !important;
}
/* Header */
.my-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.my-nb {
    border-block: 1px solid;
    color: #4c7744;
    font-size: 16px;
    margin: auto;
}

ul {
    width: 100% !important;
}

li {
    list-style: none;
}

.my-logo {
    width: 50px;
    object-fit: cover;
    margin-right: 50px;
    justify-self: flex-start !important;
}

.FF_name {
    display: none;
    font-size: 24px;
}

.my-toggler-btn {
    justify-self: end !important;
}

.nav-item{
    cursor:pointer;
}

.navbar-nav li {
    position: relative;
    padding: 10px 0;
    height: 100%;
    
    display: flex; /* Sử dụng Flexbox */
    justify-content: center; /* Căn giữa nội dung theo chiều ngang */
    align-items: center; /* Căn giữa nội dung theo chiều dọc */
}
    
.navbar-nav li a {
    color: #4c7744 !important;
    text-align: center;
}

.navbar-nav {
    flex-wrap: unset !important;
    align-items: self-start !important;
    margin: 0px !important;
}

.navbar-nav li:hover {
    background-color: rgba(128, 128, 128, 0.2);
}
        
.navbar-nav li.active {
    background-color: rgba(128, 128, 128, 0.2);
}

.navbar-nav li.active::after {
    width: 100%;
    left: 0;
}

.navbar-nav li:hover::after {
    width: 100%;
    left: 0;
}

.navbar-nav li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0px;
    left: 50%;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.icon-1 {
    color: #4c7744;
    margin-right: 50px;
}

/* Header End */




/* footer section start */

.footer1 {
    background: #f7f7f7;
    padding: 3rem;
    padding-top: 5rem;
    padding-top: 7rem;
    background-image: url(/images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 24px;
    border-top: #000 3px solid;
}

.logo-footer {
    max-width: 140px;
}

.gt_footer {
    color: #7c778a;
    font-weight: bold;
    text-align: justify
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-links h2 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.social-links img {
    padding-bottom: 25px;
}

.social-icons {
    display: flex;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #777777;
}

.social-icons a {
    font-size: 18px;
    background: #ffffff;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
    color: #82074a;
    margin-right: 18px;
    color: #777777;
}

.social-icons a:hover {
    color: #000;
}

.social-icons a i {
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
    color: #82074a;
    font-size: 16px;
    margin-right: 12px;
}

.useful-link h2 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.useful-link img {
    padding-bottom: 15px;
}

.use-links {
    line-height: 32px;
}

.use-links li i {
    font-size: 14px;
    padding-right: 8px;
    color: #898989;
}

.use-links li a {
    color: #303030;
    font-size: 15px;
    font-weight: 500;
    color: #777777;
}

.use-links li a:hover {
    color: #000;
}

.address h2 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.address img {
    padding-bottom: 15px;
}

.address-links li a {
    color: #303030;
    font-size: 15px;
    font-weight: 500;
    color: #777777;
}

.address-links li i {
    font-size: 16px;
    padding-right: 8px;
    color: #82074a;
}

.address-links li i:nth-child(1) {
    padding-top: 9px;
}

.address-links .address1 {
    font-weight: 500;
    font-size: 15px;
    display: flex;
}

.address-links {
    line-height: 32px;
    color: #777777;
}


/* Footer Section End */

/* Food */

#category-nav {
    position: sticky;
    overflow: hidden;
    top: 47px;
    z-index: 3;
}

#category-list {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
}

#category-list .nav-item{
    flex: 0 0 auto;
}

.food-card,
.food-card .card-body {
    height: 100%;
}

.img-aspect-ratio {
    width: 100%;
    height: 0;
    padding-top: 83.33%; /* 5/6 of the width */
    position: relative;
}

.img-aspect-ratio img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Food End */


/* Login & Sign Up */

.login-form{
    width:auto !important;
    margin: 15vh 10vw;
    border: 2px solid;
}

.textfield-login {
    padding: 20px;
    border-right: 2px solid;
    border-left: 2px solid;
}

.imgfield-login{
    background-color: #ffeed4;
}

.full-width-image {
    width: 100% ;
    height: 100%;
    object-fit: cover;
}

.form-group {
    position: relative;
    margin-bottom: 2rem;
}

.input-login {
    border: none;
    border-bottom: 2px solid #ee5f7a;
    width: 100%;
    max-width: none;
    padding: 10px 5px;
    font-size: 16px;
    background-color: transparent;
}
.input-login::-webkit-inner-spin-button,
.input-login::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.input-login:focus {
    outline: none;
    border-bottom: 3px solid #ee5f7a; /* Đổi màu đường gạch dưới khi focus */
}

.input-label {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: 0.2s ease all;
}

.input-login:focus ~ .input-label,
.input-login:not(:placeholder-shown) ~ .input-label {
    top: -15px;
    left: 0;
    font-size: 12px;
    color: #4c7744; /* Đổi màu chữ khi focus */
}

.btn-login {
    position: relative;
    background-color: #4c7744;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-login .btn {
    color: white;
    width: 100%;
}

.btn-login .btn:hover{
    color: white;
    font-weight:bold;
}

.btn-login .btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.btn-login .btn.active::before {
    width: 100%;
    top: 50%;
    left: 50%;
    transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
}

.btn-login .btn.active {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.overlay-login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.0);
}

.overlay-login-text {
    color: #003366;
    padding: 20% 25% 20% 20%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}



/* Login & Sign Up End */

<<<<<<< Updated upstream
/* My Account */

.myaccount-section {
    background-image: linear-gradient(100deg, #13717a 0%, #eca72d 100%);
    position: relative;
    overflow: hidden;
    padding-top: 70px;
    padding-bottom: 150px;
}

.my-account-form {
    padding: 50px;
    padding-top: 100px;
}

.sidebar-myaccount {
    background-image: linear-gradient(-180deg, #eaee52 0%, #ec8f2d 100%);
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.textfield-myaccount {
    margin-left: 30px;
    border-radius: 20px;
    background-image: linear-gradient(-45deg, #13717a 0%, #80d0c7 100%);
}

.table{
    color:white;
}

.listaction-myaccount li a{
    font-size: 24px;
    text-decoration:none;
}

.listaction-myaccount li a:hover {
    font-weight: bold;
}

.listaction-myaccount li a.active {
    font-weight: bold;
}


/* My Account End */
=======
/*Home Index Begin*/
.body-content{
    padding:0 !important;
    margin:0 !important;
}
.ben-trong{
    padding:15px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%;
}

.section-dm-mon-an {
    padding: 0;
    margin: 30px 180px;
}

.td {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}

.td-dm-mon-an {
    font-size: 24px;
    font-weight: bold;
    margin: 10px auto;
    padding-right: 10px;
}

.line {
    flex-grow: 1;
    height: 1.8px;
    background-color: #e0e0e0;
}

.big-card {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.big-card .card {
    padding: 0;
    height: 258px;
    width: 270px;
}

.big-card .my-card-img {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.big-card .card-img-top {
    transition: all 0.3s ease;
    height: 219px;
}

.big-card .card-img-top:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.popular-section {
    padding: 0;
    margin: 30px 180px;
}
.swiper .card {
    padding: 0;
    height: 258px;
    width: 270px;
}

.swiper .my-card-img {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.swiper .card-img-top {
    transition: all 0.3s ease;
}

.swiper .card-img-top:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.store__container h2 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--header-font);
    color: var(--text-dark);
    text-align: center;
}

.store__container p {
    margin-bottom: 4rem;
    font-weight: 500;
    color: var(--text-light);
    text-align: center;
}

.swiper {
    width: 100%;
    padding-bottom: 5rem;
}

.swiper-slide {
    max-width: 400px;
}

/* .store__card h4 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--header-font);
    color: var(--text-dark);
    text-align: center;
}

.store__card img {
    max-width: 325px;
    margin-inline: auto;
    margin-bottom: 2rem;
}

.store__card h3 {
    font-size: 1.75rem;
    font-weight: 700;
    font-family: var(--header-font);
    color: var(--text-dark);
    text-align: center;
} */

.swiper-pagination-bullet-active {
    background-color: #000000;
}

.td-dm-pho-bien {
    font-size: 24px;
    font-weight: bold;
    margin: 10px auto;
    padding-right: 10px;
}

.popular-section .card {
    height: 430px;
}

.big-card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-section .card-footer {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.btn-tuy-chinh,
.btn-them {
    border: 1px solid;
    border-radius: 30px;
    padding: 10px;
    background-color: #fff;
    font-weight: bold;
}

.btn-them {
    width: 80%;
    background-color: #E3002B;
    border: #E3002B;
    color: white;
}
.popular-section .store__card {
    position: relative;
}

.popular-section .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popular-section .card-text:hover {
    overflow: visible;
    white-space: normal;
    background-color: #EEEEEE;
    color: #222831;
    border-radius: 10px;
    padding: 10px;
    /* Màu nền khi hover */
    position: absolute;
    z-index: 1;
    width: 90%;
    height: 30%;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2);
    cursor: text;
}
.input-quantity{
    width: 100px;
}
.Upd-Del{
    display:flex;
}
.page_cart{
    margin-top:100px;
    min-height:100vh;
}
.rounded-thead th:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px;
}

.rounded-thead th:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
@media screen and (max-width: 576px) {

    .section-dm-mon-an,
    .popular-section {
        margin: 0;
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

        .section-dm-mon-an .card {
            width: 165px;
            height: auto;
        }

    .store__card.card {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .section-dm-mon-an,
    .popular-section {
        margin: 0;
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 1280px) {

    .section-dm-mon-an,
    .popular-section {
        margin: 0;
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

        .section-dm-mon-an .card {
            width: 165px;
            height: auto;
        }

    .store__card.card {
        width: 100%;
    }
}
/*Home Index End*/

/*Order Begin*/
.my-Form-Order {
    min-height: 100vh;
    background-color: #F7F9F2;
    border-radius: 20px;
    padding: 100px
}
.my-title {
    background-color: #B3E2A7;
    padding: 5px 20px;
    border-radius: 20px;
}
.my-order-div {
    background-color: #D1E7DD;
    border-radius: 20px;
    padding-top: 20px;
}
.my-order-success{
    min-height: 100vh;
    padding: 20px 74px;
}
.your-order{
    background-color: rgba(0,255,0,0.1);
    border-radius:20px;
    padding:10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
/*Order End*/
>>>>>>> Stashed changes
