@model PagedList.IPagedList<FF_Fastfood.Models.Category>
@using PagedList.Mvc;

<section class="section-dm-mon-an row">
    <div class="td col-sm-12">
        <h2 class="td-dm-mon-an">DANH MỤC MÓN ĂN</h2>
        <div class="line"></div>
    </div>
    <div class="big-card row">
        @foreach (var item in Model)
        {
            <div class="card col-sm-12 col-md-6 col-lg-3">
                <a href="/thuc-don/#@item.slug" style="text-decoration:none">
                    <div class="my-card-img">
                        <img src="@item.IMG_URL" class="card-img-top" alt="...">
                    </div>
                    <div class="card-footer">
                        <small class="text-dark fw-bold">@item.category_name <i class="fa-solid fa-angle-right"></i></small>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="text-center dieu-huong">
        <button class="btn btn-primary" id="firstPageBtn" style="display:none"><i class="fa-solid fa-angles-left"></i></button>
        @Html.PagedListPager(Model, page => Url.Action("CategoryPage", new { pageCategory = page }))
        <button class="btn btn-primary" id="lastPageBtn" style="display:none"><i class="fa-solid fa-angles-right"></i></button>
    </div>
</section>
<script>
    $('li.PagedList-skipToPrevious a').html('<i class="fa-solid fa-angle-left"></i>');
    $('li.PagedList-skipToNext a').html('<i class="fa-solid fa-angle-right"></i>');
</script>