@model FF_Fastfood.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Quên mật khẩu";
}

<div class="container-fluid login-form">
    <div class="row">
        <div class="col-md-6 textfield-login">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h1 class="mb-5">QUÊN MẬT KHẨU</h1>
                <div class="form-group">
                    <input class="col-12 mb-2 w-100 input-login" type="email" name="email" id="email" placeholder=" " required>
                    <label for="email" class="input-label">Email</label>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger p-0" })
                </div>
                <div class="btn-login mb-3">
                    <button type="submit" name="submit" class="btn m-0" value="Login">Gửi yêu cầu</button>
                </div>
            }
        </div>
        <div class="col-md-6 p-0 position-relative imgfield-login d-none d-md-flex">
            <img class="img-fluid full-width-image" src="~/images/login.jpg" alt="Alternate Text" />
            <div class="overlay-login">
                <h3 class="overlay-login-text text-sha">NHẬP EMAIL CỦA BẠN ĐỂ CHUYỂN ĐẾN BƯỚC TIẾP THEO !</h3>
            </div>
        </div>
    </div>
</div>