@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<main aria-labelledby="title">
    <div class="container-fluid login-form">
        <hgroup class="title">
            <h1 id="title">@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
    
</main>
