@model FF_Fastfood.Models.FoodChefViewModel

<table class="table table-striped text-dark">
    <tr>
        <th>
            <p class="m-0">Hình ảnh</p>
        </th>
        <th>
            <p class="m-0">Tên</p>
        </th>
        <th>
            <p class="m-0">Giá</p>
        </th>
        <th>
            <p class="m-0">Loại</p>
        </th>
    </tr>

    @foreach (var item in Model.Foods)
    {
        <tr>
            <td>
                <img class="img-fluid rounded-start img-foods-chef" src="@item.image_url" alt="Alternate Text" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <p class="m-0">@item.price.ToString("N0")đ</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.category_name)
            </td>
        </tr>
    }

</table>
